#################################
# Terraform
#################################
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

#################################
# Environment Variables
#################################
.env

#################################
# Python
#################################
__pycache__/
*.pyc

#################################
# OS
#################################
.DS_Store

#################################
# Docker
#################################
*.tar