# API version for Service resources
apiVersion: v1

# Defines the type of Kubernetes object
kind: Service

metadata:
  # Name of the Service
  name: devops-mini-service

spec:
  # Service type:
  # LoadBalancer exposes the Service externally
  # (creates a cloud provider load balancer if supported)
  type: LoadBalancer

  # Selects which Pods receive traffic
  # Must match Pod labels from the Deployment
  selector:
    app: devops-mini

  # Port configuration
  ports:
    - protocol: TCP # Network protocol
      port: 80 # Port exposed by the Service
      targetPort: 80 # Container port traffic is forwarded to
